body{
    overflow-x: hidden;
    background-color: #ddd;
}



 
/* Shared  */
.section-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 
.section-title h2{
    font-family: var(--font-poppins);
    font-weight: 300;
    font-size: 2.3em;
    margin-top: 20px;
    margin: 35px 0; 
    text-align: center;
}

.section-title h1{
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.1em;
    color: var(--primary-green);
    margin: 50px 0 0 0;
}


/* Sidebar */
.sidebar-container{
    display: none;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50vw;

    z-index: 4;
    padding: 20px;

    border-bottom-left-radius: 200px;

    background-color: var(--primary-green);

}

.close-sidenav{
    color: #fff;
}

.sidebuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.sidebuttons a{
    display: block;
    
    width: 100%;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;

    font-family: var(--font-poppins);
    color: #fff;
}

.toggle-sidenav{
    display: block;
}


/* Navbar  */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    background-color: transparent;

}


.navbar-sticky{
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 3;
    transition: .9s all ease;
    padding: 0 30px;
    height: 60px;

}

.hamburguer-menu{
    display: none;
}


.logo-adeca img{
    width: 70px;
    height: 70px;
}

.logoadeca-sticky img{
    align-self: center;
    width: 45px;
    height: 45px;
}



.navbuttons-container{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbuttons-container a{
    text-decoration: none;
    font-family: var(--font-poppins)
    
}

.navbuttons{
    width: 500px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.navbuttons a{
    color: #fff;
    padding: 40px auto;
    transition:0.5;
}


.navbuttons a:hover {
    border-bottom: 2px solid var(--primary-green);
}

.navbuttons-sticky a{
    color: #000!important;
    z-index: 3;
    text-align: center;

}

.navbuttonContato{
    background-color: var(--primary-green);
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
}

.navbuttonContato a{
    color: #ffff;
}



/* Home  */

.overlay{
    width: 100vw;
    height: 95vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:  var(--primary-green);
    opacity: 0.5;

    border-bottom-left-radius: 400px;

}

.home-container{
    overflow: hidden;
    border-bottom-left-radius: 400px;
    box-shadow: 3px 4px 35px -10px rgba(0,0,0,0.75);

    width: auto;
    height: 95vh;

    background-image: url('/assets/home-agroBG.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.home-container-info{
    position: absolute;
    top: 25vh;
    left: 10vw;
    z-index: 2;
}

.home-container-info .col1 h1{
    color: #fff;
    font-family: var(--font-poppins);
    font-size: 3em;
    font-weight: 300;

}

.home-container-info .col1 h1 span{
    color: #fff;
    font-family: var(--font-poppins);
    font-size: 1.6em;
    font-weight: 900;

}

.home-container-info .col1 p{
    color: #fff;
    font-family: var(--font-poppins);
    font-size: 1.1em;
    font-weight: 300;
    background-color:  rgba(41, 85, 52, 0.5);

    padding: 4px;

    overflow: hidden;
    border-right: .15em solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
    typing 3.2s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { 
        width: 0 
    }

    to { 
        width: 100% 
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff; }
}


/* Estica a imagem para telas muito grandes  */
@media screen and (min-width: 2134px){
    .home-container img{
        width: 100vw;
    }
}


/* Servicos  */

.servicos-container{
    width: 100vw;
}


.servicos-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px; 

    position: relative;

    /* -moz-transform: perspective(1200px); */
    -webkit-perspective: 1200px;
    perspective: 1200px;

    transition: all 0.5s ease-out;

}

.servicos-card-front{
    height: 100%;

}

.servicos-card-front,
.servicos-card-back{
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.servicos-card-back{
    background-color: #fff;
    height: 100%;
    padding: 0 15px 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipped {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }


.servicos-cards .servicos-cards-child{
    width: 380px;
    height: 420px;

    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    margin: 0 50px 30px 0;
    box-shadow: 3px 4px 35px -10px rgba(0,0,0,0.75);

    transition: all 0.5s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
}

.servicos-cards .servicos-cards-child:hover{
    box-shadow: 12px 16px 105px -20px rgba(0,0,0,0.75);
}

.icon-container{
    background-color: var(--primary-green);
    width: 100%;
    height: 50%;
    margin-bottom: 25px;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-back-menor,
.titulo-front-maior{
    font-family: var(--font-poppins);
    color: var(--primary-green);
    margin: 0 20px 10px 20px;
    font-size: 2.5em;
}

.titulo-back-menor{
    font-size: 1.5em;
    align-self: flex-start;
    margin: 0 0 10px 0;
}

.button-flip {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 0;
    width: 52px;
    height: 52px;
    
    border-radius: 26px;
    padding-bottom: 2px;

    border-radius: 50%;

    background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
    background-color: var(--dark-green);
    transition: all 0.35s linear;
}

.button-flip:hover{
    background-color: var(--primary-green);
}

.button-flip-back{
    left: 10px;
    bottom: 10px;

    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.servicos-cards div p{
    font-family: var(--font-poppins);
    font-weight: 300;
    font-size: 15px;
}




/* Sobre nos  */
.about-container{
    background-color: var(--dark-green);
    width: 100vw;
    height: 560px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.about-col1 {
    width: 50%;
    height: 100%;
    padding: 30px 50px 100px 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-col1 .about-titulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: var(--font-poppins);
    font-weight: 300;
    color: #fff;
}

.about-col1 .about-titulo h2{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: medium;
    color: #fff;
}

.about-col1 .about-titulo hr{
    width: 20px;
    height: 2px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 40px;

}

.about-col1 h2{
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 30px;
    color: rgb(238, 238, 238);
    margin-bottom: 40px;
}

.about-col1 p{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 15px;
    color: rgb(148, 148, 148);
    line-height: 28px;
    opacity: 0.85;
    margin-bottom: 50px;

}


.about-col1 a{

    padding: 15px;
    font-family: var(--font-poppins);
    font-weight: 300;
    text-decoration: none;
    color: #fff;

    background-color: var(--primary-green) ;
}


.about-col1 a:hover{
    background-color: var(--dark-green);
    border: 1px solid var(--primary-green) ;
    transition: ease-out .4;
}


.about-col2{
    width: 50%;
    height: 100%;
    background-image: url('/assets/adeca-membros.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

@media screen and (max-width: 1100px){
    .about-container{
        height: auto;
    
        display: flex;
        flex-direction: column;
    
    }

    .about-col1{
        width: 100%;
    }

    .about-col2{
        width: 100%;
        height: 500px;
    }
}


/* Conquistas */
.conquistas-container{
    /* margin-top: 50px; */
    width: 100vw;
    height: 300px;

    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: url('/assets/Agriculture-conq.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.conquistas-child {
    z-index: 1;
    text-align: center;
}

.conquistas-child{
    color: #fff;
}

.conquistas-child h3{
    margin-top: 20px;
    color: #fff;
    font-family: var(--font-poppins);
    font-weight: 600;

}

.conquistas-child p{
    color: #fff;
    font-family: var(--font-poppins);
    font-weight: 300;

}

.overlay-conq{
    width: 100vw;
    height: 300px;
    position: absolute;
    background-color: rgba(14, 71, 40, 0.582);
}



/* Membros  */

.membros-container{
    width: 100vw;
    height: 700px;

}

.carousel-slider{
    
    height: 450px;
    padding: 40px;
}


.carousel-card-child{
    width: 200px;
    background-color: #fff;
    text-align: center;
    padding: 40px 0;

}

.image-container-membros{
    display: inline-block;
    margin-bottom: 20px;
}

.carousel-card-child img{
    width: 200px;
}

.carousel-card-child h3{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 20px;
}

.carousel-card-child p{
    font-family: var(--font-poppins);
    font-weight: 300;
    font-size: 14px;
    color: var(--primary-green);
}

.social-media-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-media-buttons a{
    display: block;

    margin-right: 7px;
    width: 40px;
    height: 30px;
    background-color: var(--dark-green);
    color: #fff;
    padding: 7px;

}

/* Contato  */

.contato-container{
    height: 600px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #fff;
}


.contato-form{
    height: 80%;
    width: 40%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contato-form input{
    border: 1px solid var(--primary-green);
    border-radius: 10px;
    padding: 20px;
}

.contato-form .form-row1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.contato-form .form-row1 input{
    width: 45%;
    margin-left: 10px;
}

.contato-form .form-row2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 20px;
}


.contato-form .form-row2 input{
    width: 90%;
}


.contato-form .form-row3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contato-form .form-row3 input{
    width: 90%;
    border: 1px solid var(--primary-green);
    border-radius: 10px;
    padding: 20px;
    resize: vertical;
}

.botaoEnviar{
    background-color: var(--primary-green);
    width: 150px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;

    margin-top: 30px;
    
}

.botaoEnviar a{
    text-decoration: none;
    color: #ffff;
    font-family: var(--font-poppins);
}






/* Mobile  */
@media screen and (max-width: 425px){

    /* Navbar  */
    .navbuttonContato,
    .navbuttons{
        display: none;
    }

    .navbuttons-container{
        justify-content: flex-end;
    }

    .hamburguer-menu{
        display: block;
    }


    
    /* Home  */
    .home-container,
    .overlay{
        border-bottom-left-radius: 0;
    }
    
    .home-container-info{
        bottom: 0;
    }
    
    .home-container-info .col1 p{
        width: 290px;
        overflow: hidden;
        border-right: 0;
        white-space: pre-wrap;
        margin: 0 ;
        animation: none;
    }


    /* Servicos  */
    .servicos-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .servicos-cards .servicos-cards-child{
        
        margin: 0 0 20px 0;
        width: 340px;
    }


    /* Conquistas  */
    .conquistas-container{
        height: 484px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;

    }

    .overlay-conq{
        height: 484px;
    }

    .conquistas-child {
        margin-bottom: 15px;
    }

    .conquistas-child:last-child{
        margin-bottom: 0;
    }


    /* Contato  */
    .contato-form{
        
        width: 97%;
    }

    .contato-form .form-row1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        margin-bottom: 20px;
    }

    .contato-form .form-row1 input{
        width: 90%;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    #email-input{
        margin-bottom: 0;
    }
 
    .botaoEnviar{
        width: 230px;
        height: 50px;
        line-height: 50px;
    
    }
    
    .botaoEnviar a{
        text-decoration: none;
        color: #ffff;
        font-family: var(--font-poppins);
    }
}